@using PIO.Models.Domain
@using PIO.ViewModels

@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="row">
        <h3>
            Најнови прашања
            @Html.ActionLink("Види повеќе...", "LatestQuestions", "Home", new { style = "font-size:18px;float:right" })
        </h3>
    </div>
    <div class="row">
        @foreach (var q in Model.LatestQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>

<div class="row">
    <div class="row">
        <h3>
            Нови неодговорени прашања
            @Html.ActionLink("Види повеќе...", "LatestUnansweredQuestions", "Home", new { style = "font-size:18px;float:right" })
        </h3>
    </div>
    <div class="row">
        @foreach (var q in Model.LatestUnansweredQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>

<div class="row">
    <div class="row">
        <h3>
            Популарни неодговорени прашања
            @Html.ActionLink("Види повеќе...", "PopularUnansweredQuestions", "Home", new { style = "font-size:18px;float:right" })
        </h3>
    </div>
    <div class="row">
        @foreach (var q in Model.PopularUnansweredQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>