@using PIO.Models.Domain
@using PIO.ViewModels

@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin:4px;">
    <div class="row">
        <div class="col-md-8" style="font-size:26px">
            Најнови прашања
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Види повеќе...", "LatestQuestions", "Home", null, new { style = "font-size:18px;float:right" })
        </div>
    </div>
    <div class="row">
        @foreach (var q in Model.LatestQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>

<div class="row" style="margin:4px">
    <div class="row">
        <div class="col-md-8" style="font-size:26px">
            Нови неодговорени прашања
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Види повеќе...", "LatestUnansweredQuestions", "Home", null, new { style = "font-size:18px;float:right" })
        </div>
    </div>
    <div class="row">
        @foreach (var q in Model.LatestUnansweredQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>

<div class="row" style="margin:4px">
    <div class="row">
        <div class="col-md-8" style="font-size:26px">
            Популарни неодговорени прашања
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Види повеќе...", "PopularUnansweredQuestions", "Home", null, new { style = "font-size:18px;float:right" })
        </div>
    </div>
    <div class="row">
        @foreach (var q in Model.PopularUnansweredQuestions)
        {
            @Html.Partial("_QuestionListItem", q)
        }
    </div>
</div>