@using PIO.Models.Domain
@model Question

<div class="row align-items-center question-list-item">
    <div class="col-sm-2 text-center question-list-item-votes">
        <div>
            @Model.Votes.Count
        </div>
        <button class="btn btn-primary">Глас +</button>
    </div>
    <div class="col-sm-10" style="padding: 0">
        <div style="font-size: 11px">
            @Html.ActionLink(Model.AskedBy.UserName, "User", new { id = Model.AskedBy.Id }) прашува:
        </div>
        <div>
            @Html.ActionLink(Model.Title,"Index", "Question", new { id = Model.Id }, new { @class = "question-list-item-title" })
        </div>
        <div>
            @Html.ActionLink(Model.Category.Name, "Details", "Category", new { id = Model.Category.Id }, new { @class = "alert alert-info", style = "padding: 2px" })
            @if (Model.Answers.Count == 0)
            {
                <span class="alert alert-danger" style="padding: 2px;">Нема одговори</span>
            }
            else
            {
                <span class="alert alert-success" style="padding: 2px;">@Model.Answers.Count одговори</span>
            }
            <span style="font-size: 11px; margin-left: 10px;">@Model.DateCreated</span>
        </div>
    </div>
</div>
