@using PIO.Models.Domain
@using Microsoft.AspNet.Identity
@model Question

<div class="row align-items-center question-list-item">
    <div class="col-sm-2 text-center question-list-item-votes">
        <div class="vote-count">
            @Model.Votes.Count
        </div>
        @if (User.Identity.IsAuthenticated && Model.Votes.Any(u => u.Id == User.Identity.GetUserId()))
        {
            <button data-question-id="@Model.Id" class="btn btn-danger question-vote-btn">Глас -</button>
        }
        else
        {
            <button data-question-id="@Model.Id" class="btn btn-primary question-vote-btn">Глас +</button>
        }
        </div>
    <div class="col-sm-10" style="padding: 0">
        <div style="font-size: 11px">
                @Html.ActionLink(Model.AskedBy.UserName, "Details","User", new { id = Model.AskedBy.Id }, null) прашува:
        </div>
        <div>
            @Html.ActionLink(Model.Title, "Index", "Question", new { id = Model.Id }, new { @class = "question-list-item-title" })
        </div>
        <div>
            @Html.ActionLink(Model.Category.Name, "Details", "Category", new { id = Model.Category.Id }, new { @class = "alert alert-info", style = "padding: 2px" })
            @if (Model.Answers.Count == 0)
            {
                <span class="alert alert-danger" style="padding: 2px;">Нема одговори</span>
            }
            else
            {
                <span class="alert alert-success" style="padding: 2px;">@Model.Answers.Count одговори</span>
            }
            <span style="font-size: 11px; margin-left: 10px;">@Model.DateCreated</span>
        </div>
    </div>
</div>
